bokeh
matplotlib
matplotlib-inline
numpy
numpydoc
opencv-python
pandas
Pillow
plotly
scikit-learn
scikit-learn-intelex
scipy
seaborn
tensorboard
tensorboard-data-server
tensorboardX
tensorflow
tensorflow-io-gcs-filesystem
torch
torch-pruning
torchaudio
torchsummary
torchvision
tqdm
thop
ptflops